.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: rebeccapurple;}
nav li a{color: hotpink}
input{
    background-color:lightgray;
    border:none;
    border-bottom: 2px solid green;
}
body{
    background-color: lightgray;
    color: rgb(153, 0, 153);

}